<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit" />
<meta http-equiv="Cache-Control" content="no-siteapp" />

<link href="http://image.ssports.com/images/resources/web/comment/css/common.css" type="text/css" rel="stylesheet" />
<link href="http://image.ssports.com/images/resources/web/comment/css/comment.css" type="text/css" rel="stylesheet" />
<script src="http://image.ssports.com/images/resources/web/comment/js/jquery-1.8.3.min.js" type="text/javascript" charset="utf-8"></script>
<script src="http://image.ssports.com/images/resources/web/comment/js/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>

<script>
	var pageNum=<%=data.pageNum%>;
	var total=<%=data.total%>;
	var pageSize=<%=data.pageSize%>;
	var articleId=<%=articleId%>;
</script>

<script src="http://image.ssports.com/images/resources/web/comment/js/comment.js" type="text/javascript" charset="utf-8"></script>
<title>评论部分</title>
</head>

<body>
	<!--页面评论部分-->
<div class="comment">
	<div class="title">
		<h1>评论</h1>
		<p>共<span id="comment_total_count"><%=data.total%></span>条评论</p>
		<div class="clear">&nbsp;</div>
	</div>
	<form id="commentsave" action="">
		<textarea name="" id="text_val" >我来说两句......</textarea>
		<a href="###" class="btn" id="submit">发表评论</a>
		<p id="ban_info"></p>
		<div class="clear">&nbsp;</div>
		<div class="text-num">还可以输入<span>140</span>字</div>
	</form>
	<div class="comment-list">
		<ul>
		    <% for(var i=0; i<data.comments.length; i++) { %>
                <li class="commemt-list-box">
                    <div class="user"><%=data.comments[i].nick%></div>
                    <div class="time"><%=data.comments[i].create_time%></div>
                    <div class="clear">&nbsp;</div>
                    <div class="text"><%=data.comments[i].content%></div>
                </li>
            <% } %>
		</ul>
	</div>
	<div class="pagecode">
		<a class="btn" name="#text_val" href="#text_val">发表评论</a>
		<div class="tcdPageCode">

		</div>
		<div class="clear">&nbsp;</div>
	</div>
</div>
</body>
</html>
